<div th:fragment="password">
<form th:action="@{/newpassword}" method="POST">
<!-- Change Password
================================================= -->
<div class="edit-profile-container">
  <div class="block-title">
    <h4 class="grey"><i class="icon ion-ios-locked-outline"></i>Mudar a Password</h4>
    <div class="line"></div>
  </div>
  <div class="edit-block">
    <form name="update-pass" id="education" class="form-inline">
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="my-password">Antiga password</label>
          <input id="my-password" class="form-control input-group-lg" type="password" name="password" title="Enter password" placeholder="Antiga password"/>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label>Nova password</label>
          <input class="form-control input-group-lg" type="password" name="newpassword" title="Enter password" placeholder="Nova a password"/>
        </div>
        <div class="form-group col-xs-6">
          <label>Confirmar a password</label>
          <input class="form-control input-group-lg" type="password" title="Enter password" placeholder="Confirmar a password"/>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Atualizar Password</button>
    </form>
  </div>
</div>

</form>
</div>
