
<div th:fragment="frageventlist">

            <div class="row">
              <div class="col-md-9 col-sm-9">
                <div class="text-header">Pesquisar Evento</div>
                
                  <div class="form-group col-md-9 col-sm-9">
                    <div class="form-group" style="margin-right:2%;">
                      <select class="form-control" name="district" id="districtoptions">
                         
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-3">
                    
                      <button class="btn btn-primary" onclick="clickSearchEvent()">Pesquisar</button>
                    
                  </div>
                

              </div>
            </div>


            
            <div class="create-post">
              <div class="text-header">Listar Evento</div>
                  
                  

                  <div class="col-md-3"></div>

                  <div class="col-lg-6" id="listevents">
                    <!--<div class="index-content">           
                        <div class="card">
                          <div class="thumb-cont">
                            <img src="http://cevirdikce.com/proje/hasem-2/images/finance-1.jpg">
                            <div class="ismine"></div>
                          </div>
                            
                            <h4>Festa de aniversario para o meu filho</h4>
                            
                            <p>DESCRICAO</p>
                            <p>Rua Joao Martins Bandeira, nº21 R/C Arrentela, Seixal </p>
                            <p>CATEGORIA | SUB-CATEGORIA</p>
                            <p style="text-align: right;">Disponível até: 02-02-2019</p>
                            <a class="btn btn-primary btn-block">Candidatar-me</a>
                        </div>
                    </div>-->
                  </div>

                  <div class="col-md-3"></div>

              </div>
              </div>